{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "cremesmash"
    },
    {
      "action" : "sound",
      "options" : [ 
        "/sfx/projectiles/waterballoon1.ogg",
        "/sfx/projectiles/waterballoon2.ogg",
        "/sfx/projectiles/waterballoon3.ogg",
        "/sfx/projectiles/waterballoon4.ogg",
        "/sfx/projectiles/waterballoon5.ogg",
        "/sfx/projectiles/waterballoon6.ogg",
		"/sfx/projectiles/waterballoon7.ogg"		
      ]
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
